.about{
    display: flex;
    gap: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
    color: #08090C;
}

.img{
    width: 400px;
    height: 400px;
    border-radius:50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text{
    max-width: 500px;
}