.header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  align-items: center;
  background-color: #0b0c10;
  color: #3ecbc4;
  position: fixed;
  top: 0px;
  z-index: 999;
}

.header h1 {
  color: #00faf1;
  font-size: medium;
}

.languageAndNetworks {
  position: relative;
  display: none;
}

.css-10hburv-MuiTypography-root {
  width: 100%;
  text-align: end;
}

.css-13eg511-MuiButtonBase-rodivLanguageot-MuiListItemButton-root {
  justify-content: end !important;
  width: 100% !important;
  border: #33dbd2 2px !important;
  border-style: inset !important;
}

.listOptions {
  position: absolute !important;
  top: 60px;
  left: 30px;
  background-color: #0b0c10;
}

.css-cveggr-MuiListItemIcon-root {
  color: #33dbd2 !important;
  min-width: 40px !important;
  font-size: 1.8 !important;
}

.options {
  padding: 5px;
}

#listLanguage {
  background-color: #0b0c10 !important;
}

.buttons {
  display: none;
  gap: 10px;
}

.buttons button {
  color: #3ecbc4 !important;
  border-color: #3ecbc4 !important;
}

.buttons button:hover {
  color: #00faf1 !important;
  border-color: #00faf1 !important;
}

.networks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.networks a:hover {
  color: #00faf1;
}



@media (min-width: 100px) {
  .header{
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }

  .networks{
    display: none;
  }
}
@media (min-width: 520px) {
  .header h1{
    font-size: large;    
  }
}

@media (min-width: 1080px) {
  .header{
    padding: 5px;
    justify-content: space-around;
  }
  .MenuDrawer {
    visibility: hidden;
  }
  .buttons,
  .languageAndNetworks {
    display: flex;
    visibility: visible;
  }
  .header h1{
    font-size: xx-large;    
  }

}

@media (min-width: 1400px) {
  .networks{
    display: flex;
  }
}
