.videoContent{
    text-align:center;
    width: 100%;
    max-width: 800px;
}

.videoContent h1{
    font-size: 45px;
    margin-bottom: 20px;
}

.carouselImg{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 0 5px 5px -5px #000;
}

/*  Sirve para que quede centrada la posicion absoluta:
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0; */


.dppal {
    width: 100%;
    position: absolute;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    bottom: 15px;
 }
  
 .dfondo {
    height: 100px;
    background-color: #45A29E;
    filter:alpha(opacity=20);
    -moz-opacity:0.2;
    opacity: 0.5;
    padding:10px;
 }
  
 .dtexto {
    background-color: transparent;
    position: absolute;
    z-index: 2;
    padding:10px;
    margin-left:auto;
    margin-right:auto;  
    left:0;
    right:0;
 }
