.App {
  text-align: center;  
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #45A29E;
  padding: 60px;
}
